<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description_en }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description_en }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">

  </head>

  <body>
    <div id="main" role="main" class="container">
      <div class="blog-post-box">
        {{ content }}
      </div>
    </div>
  </body>
</html>
